<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fuguang.device.mapper.GateInfoMapper">
    <resultMap id="BaseResultMap" type="cn.fuguang.entity.GateInfoEntity">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="gateId" jdbcType="VARCHAR" property="gateId"/>
        <result column="deviceId" jdbcType="VARCHAR" property="deviceId"/>
        <result column="deviceSn" jdbcType="VARCHAR" property="deviceSn"/>
        <result column="gateName" jdbcType="VARCHAR" property="gateName"/>
        <result column="gateCode" jdbcType="VARCHAR" property="gateCode"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="gateStatus" jdbcType="VARCHAR" property="gateStatus"/>
        <result column="createTime" jdbcType="DATE" property="createTime"/>
        <result column="updateTime" jdbcType="DATE" property="updateTime"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>

    <select id="queryGateInfoById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from gate_info
        where gateId = #{gateId,jdbcType=VARCHAR}
    </select>
</mapper>
